.types_box {
  display: flex;
  height: 3rem;
  position: relative;
  font-family: Rubik, sans-serif;
  border: 1px solid #eee;
  border-top: none;
  width: 100%;
  border-radius: 2px 0 0 2px;
  margin-bottom: 3px;
  background-color: #ffffff;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.types_ul {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, 0.3fr);
  grid-template-rows: repeat(auto-fill, 26px);
  grid-row-gap: 0.5em;
  grid-column-gap: 0.5rem;
  margin: 0;
  padding: 0;
  justify-items: legacy;
  align-items: center;
}

@media only screen and (max-width: 552px) {
  .types_box {
    font-size: 0.7rem;
    padding: 0.2rem;
  }
}

@media only screen and (max-width: 382px) {
  .types_box {
    display: flex;
    height: 3rem;
    position: relative;
    font-family: Rubik, sans-serif;
    border: 1px solid #eee;
    border-top: none;
    width: 100%;
    border-radius: 2px 0 0 2px;
    margin-bottom: 3px;
    background-color: #ffffff;
    flex-wrap: nowrap;
    justify-content: space-around;
    flex-direction: column;
  }
}
